.main-container {
    width: 500px;
    padding: 20px;
    border: 20px solid rgb(195, 99, 88);
    margin: 20px;
    background-color: azure;
    
}

img {
    max-width: 100%;          
}
h3 {
    font-weight: bold; 
    text-align: center; 
    display: block; 
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 10px; 
}
p{
    font-weight: bold; 
    text-align: center; 
    display: block; 
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 10px; 
    display: flex;
}

